name: GH-Pages
on:
  push:
    branches:
      - master
    tags:
      - "**"
  workflow_call:

jobs:
  build-and-deploy:
    name: ⚙️ Build & Deploy
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4
        with:
          fetch-depth: 0

      - name: Set up Python
        uses: ./.github/actions/python-environment

      - name: Build Documentation
        run: |
          poetry run nox -s docs
          touch docs/_build/.nojekyll

      - name: Deploy
        uses: JamesIves/github-pages-deploy-action@v4.6.3
        with:
          branch: github-pages
          folder: ./docs/_build
          git-config-name: Nicola Coretti
          git-config-email: nico.coretti@gmail.com
